VITE_OMS_TYPE=moqui
VITE_I18N_LOCALE=en-US
VITE_I18N_FALLBACK_LOCALE=en-US
VITE_CACHE_MAX_AGE=3600
VITE_VIEW_SIZE=10
VITE_APP_PERMISSION_ID="COMPANY_APP_VIEW"
VITE_FACILITIES_LOGIN_URL=""
VITE_DEFAULT_LOG_LEVEL="error"
VITE_COMPANY_PARTY_ID="COMPANY"
VITE_GITBOOK_API_KEY=""
VITE_SPACE_ID=""
VITE_GITBOOK_BASE_URL=""
VITE_NETSUITE_INTEGRATION_TYPE_MAPPING={"INVENTORY_VARIANCE_TYPE_ID":"NETSUITE_VAR_TRAN","SHIPPING_METHOD_TYPE_ID":"NETSUITE_SHP_MTHD","PAYMENT_METHOD_TYPE_ID":"NETSUITE_PMT_MTHD","PRICE_LEVEL_TYPE_ID":"NETSUITE_PRICE_LEVEL","DISCOUNT_TYPE_ID":"NETSUITE_DISC_MTHD"}
